body{
   font-family: "Marker Felt", "Comic Sans MS", fantasy;
}

html { 
  background-image: url(images/infinity.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}
a:link {
  color: #a50000;
}
a:visited {
  color: #00991f;
}
#mySidenav a {
    position: absolute;
    left: -100px;
    transition: 0.5s;
    padding: 20px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 7px 7px 0;
}

#mySidenav a:hover {
    left: 0;
}

#home {
    top: 20px;
    background-color: #a50000;
}

#portfolio {
    top: 100px;
    background-color: #3268bd;
}

#aboutme {
    top: 180px;
    background-color: #00991f;
}

#csp_p3 {
    top: 260px;
    background-color: #460061;
}

#snowflakeContainer {
    position: absolute;
    left: 0px;
    top: 0px;
}
.snowflake {
    padding-left: 15px;
    font-family: Cambria, Georgia, serif;
    font-size: 14px;
    line-height: 24px;
    position: fixed;
    color: #FFFFFF;
    user-select: none;
    z-index: 1000;
}
.snowflake:hover {
    cursor: default;
}